In [3]:
import pandas as pd

In [5]:
dataset =pd.read_csv("Social_Network_Ads.csv")

In [7]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [9]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset = dataset.drop("User ID", axis=1)

In [11]:
independent = dataset[['Age', 'EstimatedSalary','Gender_Male']]
dependent = dataset[['Purchased']]

In [13]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [15]:
independent = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [17]:
dependent =dataset[['Purchased']]

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [21]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [23]:
from sklearn.svm import SVC
model = SVC(
    C=1.0,                # Regularization parameter
    kernel="rbf",         # Radial Basis Function kernel
    gamma="scale",        # Kernel coefficient
    class_weight="balanced",  # Handle imbalanced classes
    probability=True,     # Enable probability estimates
    random_state=42       # Seed for reproducibility
)

In [25]:
model.fit(x_train,y_train)
y_pred =model.predict(x_test)

C:\Users\chida\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[77,  2],
       [22, 19]], dtype=int64)

In [29]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.97      0.87        79
           1       0.90      0.46      0.61        41

    accuracy                           0.80       120
   macro avg       0.84      0.72      0.74       120
weighted avg       0.82      0.80      0.78       120

In [ ]:
Precision:

Precision measures how accurate the model's positive predictions are.

For Class 0: Precision = 0.78 → When the model predicts Class 0, it is correct 78% of the time.

For Class 1: Precision = 0.90 → When the model predicts Class 1, it is correct 90% of the time.

Recall:

Recall measures how well the model identifies all relevant instances of a class.

For Class 0: Recall = 0.97 → The model correctly identifies 97% of all actual Class 0 instances.

For Class 1: Recall = 0.46 → The model correctly identifies 46% of all actual Class 1 instances.

F1-Score:

The F1-score is the harmonic mean of precision and recall. It provides a balanced measure of the model's performance for each class.

For Class 0: F1-score = 0.87 → This indicates very good performance for Class 0.

For Class 1: F1-score = 0.61 → This indicates moderate performance for Class 1.

Support:

Support is the number of actual occurrences of each class in the dataset.

For Class 0: Support = 79 → There are 79 instances of Class 0.

For Class 1: Support = 41 → There are 41 instances of Class 1.

Accuracy:

Accuracy is the overall correctness of the model's predictions.

Accuracy = 0.80 → The model is correct 80% of the time across all predictions.

Macro Avg:

Macro average is the unweighted average of precision, recall, and F1-score across both classes.

Macro Avg Precision = 0.84, Recall = 0.72, F1-score = 0.74.

Weighted Avg:

Weighted average takes into account the number of instances in each class (support) when calculating the average.

Weighted Avg Precision = 0.82, Recall = 0.80, F1-score = 0.78.

Interpretation:
Class 0:

The model performs very well for Class 0, with high recall (97%) and a good F1-score (0.87).

However, precision is lower (78%), meaning the model has some false positives (incorrectly predicting Class 0 when it should be Class 1).

Class 1:

The model struggles with Class 1, as indicated by low recall (46%) and a moderate F1-score (0.61).

Precision is high (90%), meaning when the model predicts Class 1, it is usually correct. However, it misses many actual Class 1 instances (low recall).

Overall Performance:

The model has an overall accuracy of 80%, which is decent but could be improved.

The weighted averages for precision, recall, and F1-score are 0.82, 0.80, and 0.78, respectively, indicating balanced performance across both classes.