In [2]:
import pandas as pd
from Univariate import Univariate

In [3]:
dataset = pd.read_csv("Placement.csv")
_qual,_quan = Univariate.qualquan(dataset)

In [4]:
from Univariate import Univariate

# find frequency by using user defined method (freqTable)
Univariate.freqTable("degree_p", dataset)

    UniqueValues  Frequency  RelativeFrequency  CumulativeFrequency
0          65.00         20           0.093023             0.093023
1          66.00         13           0.060465             0.153488
2          72.00         12           0.055814             0.209302
3          64.00         11           0.051163             0.260465
4          58.00          9           0.041860             0.302326
..           ...        ...                ...                  ...
84         64.80          1           0.004651             0.981395
85         56.30          1           0.004651             0.986047
86         91.00          1           0.004651             0.990698
87         56.87          1           0.004651             0.995349
88         77.60          1           0.004651             1.000000

[89 rows x 4 columns]

In [5]:
# find quan, qual by using user defined method (qualquan)
_qual,_quan = Univariate.qualquan(dataset)

# find Univariate by using user defined method (_Univariate)
Univariate._Univariate(_quan, dataset)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0
Kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
skew,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747

In [6]:
descriptive = Univariate._Univariate(_quan, dataset)

# find OutliersColumns by using user defined method (OutliersColumns)
lesser, greater = Univariate.OutliersColumns(_quan, descriptive)
lesser, greater

(['hsc_p'], ['hsc_p', 'degree_p', 'salary'])

In [7]:
# Replacing Outliers by using user defined method (ReplacingOutliers)
_dataset = Univariate.ReplacingOutliers(lesser, greater, dataset, descriptive)

In [8]:
_descriptive = Univariate._Univariate(_quan, _dataset)
_descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0
Kurtosis,-1.2,-0.60751,0.086901,-0.09749,-1.08858,-0.470723,-0.239837
skew,0.0,-0.132649,0.162611,0.204164,0.282308,0.313576,0.8067

In [9]:

lesser, greater = Univariate.OutliersColumns(_quan, _descriptive)
lesser, greater

([], [])