In [114]:
import pandas as pd
dataset = pd.read_csv("Placement.csv")

In [115]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [116]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [117]:
dataset["ssc_p"].mean()

np.float64(67.30339534883721)

In [118]:
dataset["ssc_p"].median()

np.float64(67.0)

In [119]:
print(dataset["ssc_p"].mode()[0])

62.0

In [120]:
from Univariate import Univariate
_qual,_quan = Univariate.qualquan(dataset)

In [121]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [122]:
descriptive = pd.DataFrame()

In [123]:
descriptive

Empty DataFrame
Columns: []
Index: []

In [124]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode"], columns=_quan)
for colmn in _quan:
    descriptive.loc["Mean",colmn] = dataset[colmn].mean()
    descriptive.loc["Median",colmn] = dataset[colmn].mean()
    descriptive.loc["Mode",colmn] = dataset[colmn].mode()[0]

In [125]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [126]:
descriptive.loc["Mean","ssc_p"] = 0

In [127]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,0,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [128]:
import numpy as np

In [129]:
np.percentile(dataset["ssc_p"],100)

np.float64(89.4)

In [130]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q1:50%","Q1:75%","Q1:100%"], columns=_quan)
for colmn in _quan:
    descriptive.loc["Mean",colmn] = dataset[colmn].mean()
    descriptive.loc["Median",colmn] = dataset[colmn].mean()
    descriptive.loc["Mode",colmn] = dataset[colmn].mode()[0]
    descriptive.loc["Q1:25%",colmn] = np.percentile(dataset[colmn],25) #if any cell have null value it won't work

In [131]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,NaN
Q1:50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q1:75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q1:100%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"], columns=_quan)
for colmn in _quan:
    descriptive.loc["Mean",colmn] = dataset[colmn].mean()
    descriptive.loc["Median",colmn] = dataset[colmn].mean()
    descriptive.loc["Mode",colmn] = dataset[colmn].mode()[0]
    descriptive.loc["Q1:25%",colmn] = dataset.describe()[colmn]["25%"]
    descriptive.loc["Q2:50%",colmn] = dataset.describe()[colmn]["50%"]
    descriptive.loc["Q3:75%",colmn] = dataset.describe()[colmn]["75%"]
    descriptive.loc["Q4:100%",colmn] = dataset.describe()[colmn]["max"]
    descriptive.loc["IQR",colmn] = descriptive.loc["Q3:75%",colmn] - descriptive.loc["Q1:25%",colmn]
    descriptive.loc["1.5 Rule",colmn] = 1.5 *  descriptive.loc["IQR",colmn]
    descriptive.loc["Lesser",colmn] = descriptive.loc["Q1:25%",colmn] - descriptive.loc["1.5 Rule",colmn]
    descriptive.loc["Greater",colmn] = descriptive.loc["Q3:75%",colmn] + descriptive.loc["1.5 Rule",colmn]
    descriptive.loc["Min",colmn] = dataset[colmn].min()
    descriptive.loc["Max",colmn] = dataset[colmn].max()

In [133]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [134]:
#  find Outliers
lesser=[]
greater=[]
for column in _quan:
    if( descriptive.loc["Min",column] <  descriptive.loc["Lesser",column]):
        lesser.append(column)
    if( descriptive.loc["Max",column] >  descriptive.loc["Greater",column]):
        greater.append(column)

In [137]:
lesser

['hsc_p']

In [140]:
greater

['hsc_p', 'degree_p', 'salary']

In [141]:
#  Replacing Outliers

# For "lesser" columns
for col in lesser:
    dataset.loc[dataset[col] < descriptive.loc["Lesser", col], col] = descriptive.loc["Lesser", col]

# For "greater" columns
for col in greater:
    dataset.loc[dataset[col] > descriptive.loc["Greater", col], col] = descriptive.loc["Greater", col]

In [142]:

_descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","Q4:100%","IQR","1.5 Rule","Lesser","Greater","Min","Max"], columns=_quan)
for colmn in _quan:
    _descriptive.loc["Mean",colmn] = dataset[colmn].mean()
    _descriptive.loc["Median",colmn] = dataset[colmn].mean()
    _descriptive.loc["Mode",colmn] = dataset[colmn].mode()[0]
    _descriptive.loc["Q1:25%",colmn] = dataset.describe()[colmn]["25%"]
    _descriptive.loc["Q2:50%",colmn] = dataset.describe()[colmn]["50%"]
    _descriptive.loc["Q3:75%",colmn] = dataset.describe()[colmn]["75%"]
    _descriptive.loc["Q4:100%",colmn] = dataset.describe()[colmn]["max"]
    _descriptive.loc["IQR",colmn] = _descriptive.loc["Q3:75%",colmn] - _descriptive.loc["Q1:25%",colmn]
    _descriptive.loc["1.5 Rule",colmn] = 1.5 *  _descriptive.loc["IQR",colmn]
    _descriptive.loc["Lesser",colmn] = _descriptive.loc["Q1:25%",colmn] - _descriptive.loc["1.5 Rule",colmn]
    _descriptive.loc["Greater",colmn] = _descriptive.loc["Q3:75%",colmn] + _descriptive.loc["1.5 Rule",colmn]
    _descriptive.loc["Min",colmn] = dataset[colmn].min()
    _descriptive.loc["Max",colmn] = dataset[colmn].max()
    
lesser=[]
greater=[]
for column in _quan:
    if( _descriptive.loc["Min",column] <  _descriptive.loc["Lesser",column]):
        lesser.append(column)
    if( _descriptive.loc["Max",column] >  _descriptive.loc["Greater",column]):
        greater.append(column)

In [143]:
lesser

[]

In [144]:
greater

[]

In [145]:
_descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Median,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,277648.648649
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,390000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5 Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215,89.4,91.15,88.5,98.0,77.89,390000.0