In [40]:
import pandas as pd

In [42]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [44]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset = dataset.drop("User ID", axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [46]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [48]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [50]:
independent = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]

In [52]:
dependent = dataset[['Purchased']]

In [54]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [57]:
from sklearn.tree import DecisionTreeClassifier
    #classifier = DecisionTreeRegressor()
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state=0)
classifier.fit(x_train,y_train)

y_pred = classifier.predict(x_test)

In [59]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [69]:
cm = confusion_matrix(y_test,y_pred)

[[71  8]
 [ 3 38]]

In [63]:
from sklearn.metrics import classification_report

In [67]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.90      0.93        79
           1       0.83      0.93      0.87        41

    accuracy                           0.91       120
   macro avg       0.89      0.91      0.90       120
weighted avg       0.91      0.91      0.91       120

1. Question: What does this report tell me about the model?
Answer: This report shows how well the model is performing. It tells you how accurate it is overall and how good it is at predicting each specific category (class 0 and class 1).

2. Question: What does "accuracy" mean?
Answer: Accuracy is the percentage of times the model gets the prediction right. Here, the model is correct 91% of the time.

3. Question: What is "precision," and why does it matter?
Answer: Precision tells you how often the model is correct when it predicts a specific category. For example:

When the model predicts class 0, it’s correct 96% of the time.

When the model predicts class 1, it’s correct 83% of the time.

High precision means the model is reliable when it makes a prediction for that category.

4. Question: What is "recall," and why is it important?
Answer: Recall tells you how good the model is at finding all the examples of a specific category. For example:

The model finds 90% of all class 0 examples.

The model finds 93% of all class 1 examples.

High recall means the model is good at not missing cases of that category.

5. Question: What is the F1-score, and why should I care about it?
Answer: The F1-score is a balance between precision and recall. It gives you a single number to understand how well the model is doing for a specific category. For example:

For class 0, the F1-score is 0.93, which is very good.

For class 1, the F1-score is 0.87, which is also good but slightly lower.

A higher F1-score means the model is doing a better job overall for that category.

6. Question: Which category is the model better at predicting?
Answer: The model is slightly better at predicting class 0 because it has a higher F1-score (0.93) compared to class 1 (0.87). This means it’s more accurate and reliable for class 0.

7. Question: What does "support" mean?
Answer: Support is the number of examples in each category. For example:

There are 79 examples of class 0.

There are 41 examples of class 1.

8. Question: Is the model balanced in its performance, or is it better at one category than the other?
Answer: The model is slightly better at predicting class 0 than class 1, but the difference isn’t huge. For class 0, it has higher precision (96%) and a slightly lower recall (90%). For class 1, it has lower precision (83%) but a higher recall (93%).

9. Question: Can I trust this model to make decisions?
Answer: Yes, the model is performing well overall. It’s correct 91% of the time, and it’s good at predicting both categories. However, if class 1 is very important, you might want to improve its precision (83%) to make it more reliable.

10. Question: What does "macro avg" and "weighted avg" mean?
Answer:

Macro avg is the average of the scores (precision, recall, F1) for both categories, treating them equally. Here, the macro averages are around 0.89 to 0.91, which is very good.

Weighted avg is the average, but it takes into account how many examples there are in each category. Since there are more examples of class 0, it has a bigger impact on the weighted average. The weighted averages are around 0.91, which is excellent.

11. Question: How can I tell if the model is good enough?
Answer: The model is performing very well overall, with an accuracy of 91% and strong F1-scores for both categories. If this level of performance meets your needs, then the model is good enough. If you need even better performance for class 1, you might want to improve its precision.

12. Question: What should I do if the model isn’t performing well for a specific category?
Answer: If you need the model to perform better for class 1, you could:

Collect more data for class 1 to help the model learn better.

Adjust the model to focus more on improving precision for class 1.

Summary for Non-Technical Users:
The model is 91% accurate overall.

It’s very good at predicting class 0 (96% precision, 90% recall).

It’s also good at predicting class 1 (83% precision, 93% recall), but there’s room for improvement in precision.

If you’re happy with these results, the model is ready to use. If not, you can work on improving it further.